* {
  /* box-sizing: border-box;
  padding: 0;
  margin: 0; */
  font-family: 'Dosis', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@import "variables";

.modal-header {
  text-align: center;
}

.grid-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 0.3fr 1.7fr;
  grid-template-rows: 0.15fr 1.85fr;
  gap: 1px 1px;
  grid-template-areas: "logo header" "displayChannels main";
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.8fr 0.2fr;
  gap: 1px 1px;
  grid-template-areas: "messages" "writer";
  grid-area: main;
}

.writer {
  grid-area: writer;
  background-color: $color_l_light;
}

.messages {
  grid-area: messages;
  background-color: $color_l_light;
  overflow-y: auto;

  /* max-height: calc(100vh - 125px); */
  max-height: 82vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
}

.msg {
  align-self: auto;
  color: $color_l_dark;
  padding: 0 3vh 0 3vh;
}

.displayChannels {
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1.8fr;
  gap: 1px 1px;
  grid-template-areas: "nchannel" "channels";
  grid-area: displayChannels;
}

.channels {
  grid-area: channels;
  background-color:$color_l_light;
  font-size: 1.2em;
  overflow-y: auto;
  max-height: 82vh;
  overflow-x: hidden;
}

.nchannel {
  grid-area: nchannel;
  background-color: $color_l_light;
}

.header {
  display: grid;
  grid-template-columns: 0.6fr 1.4fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas: "brand displayname";
  grid-area: header;
}

.brand {
  grid-area: brand;
  background-color: $color_l_light;
}

.displayname {
  grid-area: displayname;
  background-color: $color_l_light;
}

.logo {
  grid-area: logo;
  background-color: $color_l_light;
}

.center {
  /* text-align: center; */
  text-align: center;
  vertical-align: middle;
}

.eachChannel {
  color: $color_m_dark;
  background-color: $color_l_light;
  padding-right: 3vh;
}

.eachChannelDIV {
  background-color: $color_l_light;
}

.hide {
  display: None;
}

/* If u want personalize just one div scroll, put "classname" before ::-webkit... 
    Example: .messages::-webkit-scrollbar */

::-webkit-scrollbar {
  width: 8px;

  /* Tamaño del scroll en vertical */
  height: 8px;

  /* Tamaño del scroll en horizontal */
}

::-webkit-scrollbar-thumb {
  background: $color_l_dark;
  ;
  border-radius: 4px;

  &:hover {
    background: #0a111f;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }

  &:active {
    background-color: $color_dark;
  }
/* Ponemos un color de fondo y redondeamos las esquinas del thumb */

}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */

/* Cambiamos el fondo cuando esté en active */

/* Ponemos un color de fondo y redondeamos las esquinas del track */

::-webkit-scrollbar-track {
  background: $color_light;
  display: none;
  border-radius: 4px;

  &:hover, &:active {
    background: $color_dark;
  }
}

/* Cambiamos el fondo cuando esté en active o hover */