*{
  /* box-sizing: border-box;
  padding: 0;
  margin: 0; */
  font-family: 'Dosis', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');


.modal-header {
  text-align: center;
}

.grid-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 0.3fr 1.7fr;
  grid-template-rows: 0.2fr 1.8fr;
  gap: 1px 1px;
  grid-template-areas: "logo header" "displayChannels main";
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.8fr 0.2fr;
  gap: 1px 1px;
  grid-template-areas: "messages" "writer";
  grid-area: main;
}

.writer { grid-area: writer; background-color: #e5e5e5;}

.messages { 
  grid-area: messages; 
  background-color: #e5e5e5;
  overflow-y: auto;
  /* max-height: calc(100vh - 125px); */
  max-height: 82vh;
  overflow-x: hidden;
  display: flex;
  flex-direction:column-reverse;
  align-items: flex-end;
}

.msg 
{
  align-self: auto;
  color: rgb(192, 192, 192);
  padding: 0 3vh 0 3vh;
}

.displayChannels {
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1.8fr;
  gap: 1px 1px;
  grid-template-areas: "nchannel" "channels";
  grid-area: displayChannels;
}

.channels { 
  grid-area: channels; 
  background-color: #e5e5e5;
  font-size: 1.2em;
  overflow-y: auto;
  max-height: 82vh;
  overflow-x: hidden;
}

.nchannel { grid-area: nchannel; background-color: #e5e5e5;}

.header {
  display: grid;
  grid-template-columns: 0.6fr 1.4fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas: "brand displayname";
  grid-area: header;
}

.brand { grid-area: brand; background-color: #e5e5e5;}

.displayname { grid-area: displayname; background-color: #e5e5e5;}

.logo { grid-area: logo; background-color: #e5e5e5;}

.center {
  /* text-align: center; */
  text-align: center;
  vertical-align:middle;
}

.eachChannel {
  color: red;
  background-color: #e5e5e5;
  padding-right: 3vh;
}
.eachChannelDIV {
  background-color: #e5e5e5;
}

.hide {
  display: None;
}

/* If u want personalize just one div scroll, put "classname" before ::-webkit... 
    Example: .messages::-webkit-scrollbar */
::-webkit-scrollbar {
  width: 8px;     /* Tamaño del scroll en vertical */
  height: 8px;    /* Tamaño del scroll en horizontal */
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
::-webkit-scrollbar-thumb  {
  background: #ccc;
  border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

/* Ponemos un color de fondo y redondeamos las esquinas del track */
::-webkit-scrollbar-track{
  background: #363636;
  border-radius: 4px;
}

/* Cambiamos el fondo cuando esté en active o hover */
::-webkit-scrollbar-track:hover, 
::-webkit-scrollbar-track:active {
background: #2ea2be;
}