*{
  /* box-sizing: border-box;
  padding: 0;
  margin: 0; */
  font-family: 'Dosis', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');


.modal-header {
  text-align: center;
}

.grid-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 0.3fr 1.7fr;
  grid-template-rows: 0.2fr 1.8fr;
  gap: 1px 1px;
  grid-template-areas: "logo header" "displayChannels main";
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.8fr 0.2fr;
  gap: 1px 1px;
  grid-template-areas: "messages" "writer";
  grid-area: main;
}

.writer { grid-area: writer; background-color: skyblue;}

.messages { 
  grid-area: messages; 
  background-color: black;
  overflow-y: auto;
  /* max-height: calc(100vh - 125px); */
  max-height: 82vh;
  overflow-x: hidden;
  display: flex;
  flex-direction:column-reverse;
  align-items: flex-end;
}

.derecha 
{
  align-self: auto;
  color: rgb(192, 192, 192);
  padding: 0 3vh 0 3vh;
}

.displayChannels {
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1.8fr;
  gap: 1px 1px;
  grid-template-areas: "nchannel" "channels";
  grid-area: displayChannels;
}

.channels { 
  grid-area: channels; 
  background-color: olivedrab;
  font-size: 1.2em;
}

.nchannel { grid-area: nchannel; background-color: orange;}

.header {
  display: grid;
  grid-template-columns: 0.6fr 1.4fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas: "brand displayname";
  grid-area: header;
}

.brand { grid-area: brand; background-color: red;}

.displayname { grid-area: displayname; background-color: greenyellow;}

.logo { grid-area: logo; background-color: green;}

.center {
  /* text-align: center; */
  text-align: center;
  vertical-align:middle;
}

.eachChannel {
  color: yellow;
}